body{
	margin: 15px
	padding 10px
}
 
.container .gmail {
	margin-left: 1000px;
}



.gmail {
	margin-bottom: 20px;
}


.application {
	margin-left: 0px;
	margin-bottom: 500px;
}

 #hplogo {
  margin-left: 450px;
}

.gNO89b {
 margin-left: 475px;
 margin-top: 15px;
}

.RNmpXc {
 margin-left: 40px;
}

.gLFyfgsfi {
 margin-left: 525px;
 margin-bottom: 15px;
}


